# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
venv.bak/
venv3/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp

# Dependency directories
node_modules/

# PyCharm
*.iml

# Build directories
build/
dist/

# Environment variables
.env

# Coverage and test artifacts
.coverage
coverage.xml

# MyPy
.mypy_cache/

# setuptools (wheel)
*.egg-info/
